.formDemo {
  margin: 10px auto;
  width: 400px;
  font-size: 14px;
}
.formDemo div {
  display: flex;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  align-items: center;
}
.formDemo label {
  display: inline-block;
  width: 140px;
  /* font-size: 12px; */
  color: gray;
}